<!DOCTYPE html>
<html>
<head>
    <title>Список услуг</title>
    <link href="/css/product_card.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Фильтр -->
    <form action="/recipients" method="get">
    <input type="text" name="filter" value = "{{.filter}}" placeholder="Фильтр">
    <select name = "field">
    <option value = "First_name"> По имени </option>
    <option value = "Email"> По почте </option>
    </select>
    <button type="submit">Фильтровать</button>
    </form>
    <!-- Список услуг в виде карточек -->
    {{range .Recipients}}
        <div class="card">
            <h2>{{.Name.First_name}}</h2>
            <p>Email: {{.Email}}</p>
            <p>Возраст: {{.Age}}</p>
            <img class="card-img-top" src={{.ImageSrc}} alt="Card image cap">
            <a href="/recipients/{{.Id}}">Подробнее</a>
        </div>
    {{end}}
</body>
</html>