<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link href="/css/product_card.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Список получателей</h1>
<p>
<form action="/recipients" method="get">
    <input type="text" name="FIO" value="{{if ne .Name ""}}{{.Name}}{{end}}" placeholder="Введите ФИО">
    <button type="submit" class = "button-7">Фильтровать</button>
</p>
</form>

<section class="articles">
{{range $key, $value := .Recipients}}
  <article>
    <div class="article-wrapper">
      
        <img src={{$value.ImageURL}} alt="" />
      
      <div class="article-body">
        <h2>{{$value.FIO}}</h2>
        <p>
          {{$value.Email}}
        </p>
        {{if not .IsDeleted}}
        <form action="/recipients" method="post">
                        <input type="hidden" name="delete" value="{{.RecipientId}}">
                        <input type="submit" value="Удалить" class="button-7" style="width: 100%;">
                    </form>
        {{end}}
        <p> </p>
        <a href="/recipients/{{$value.RecipientId}}" class="button-7" style = "width:100%;">
          Подробнее 
        </a>
      </div>
      
    </div>
  </article>
  {{end}}
</section>
</body>
</html>