<!DOCTYPE html>
<html>
<head>
    <title>Подробная информация</title>
    <link href="/css/product_card.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 style = "text-align:center">Подробная информация</h1>
    <div class = "card_item">
    <div class = "card_item_data">
    <div>Идентификационный номер: {{.Recipients.Id}}</div>
    <div>Фио: {{.Recipients.Name.First_name}} {{.Recipients.Name.Second_name}} {{.Recipients.Name.Third_name}}</div>
    <div>Email: {{.Recipients.Email}}</div>
    <div>Возраст: {{.Recipients.Age}}</div>
    <div>Адрес: {{.Recipients.Adress}}</div>
    </div>
    <img class="card-img-top" src="{{.Recipients.ImageSrc}}" alt="Card image cap">
    </div>
</body>
</html>