<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link href="/css/item.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1 style = "text-align:center">Подробная информация</h1>
<p>
<div>
<section class="articles">
  <article>
    <div class="article-wrapper">
        <img src="{{.ImageURL}}" alt="" />
      <div class="article-body">
        <h2>{{.FIO}}</h2>
        <div>
          <b>Почта:</b>  {{.Email}}
        </div>
        <div>
          <b>Возраст:</b>  {{.Age}}
        </div>
        <div>
          <b>Адрес:</b>  {{.Adress}}
        </div>
        <div>
        {{if .IsDeleted}}
                <b style = "color:#ff0000">Получатель удален</b>
            {{end}}
        </div>
      </div>
    </div>
  </article>
</section>
</div>
</body>
</html>