<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Список получателей</h1>
    <ul>
        {{range $key, $value := .}}
            <li>
                <a href="http://localhost:8080/recipients/{{$value.Id}}" class="btn btn-primary">
                    <div class="card">
                        <img class="card-img-top" src={{$value.ImageSrc}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-text">№{{$value.Id}}</h5>
                            <p class="card-text">{{$value.Name.First_name}} {{$value.Name.Second_name}}</p>
                            <h5 class="card-title">Почта:</h5>
                            <p class="card-text">{{$value.Email}}</p>
                        </div>
                    </div>
                </a>
            </li>
        {{end}}
    </ul>
</body>
</html>